extends layout

block content
  .content.others
    h3.colortheme #{title} Me
    p Hello folks, My name is Jesse. I'm an engineer. I live in Hyderabad, I like repairing PCs and Product Development.
    p This Website is developed by me, It uses express.js for back-end, nodemailer for recieving your messages. For UI, I used Cirrus library.
    p
      a(href="https://github.com/iamjesse98", target="_blank") Click Here 
      span to star and fork my github repos.
