extends layout

block content
  .others.text-center(style='background: #eceff1; padding: 40px; padding-top: 240px;')
    h1.colortheme Oops!!....
    h2.colortheme :( 404
    h2.colortheme Not Found
    p The requsted page is not avilable.
